# Node.js libraries
node_modules/
data/
package-lock.json
.node-*
msp/
vendor/
*log*
log.txt
*vscode*
driver
*.o
tmp

virt-install --name a --os-variant ubuntu20.04 --vcpus 8 --ram 10048 --cdrom /root/vm/ubuntu-22.04-live-server-amd64.iso --network bridge=virbr0,model=virtio --graphics none
